# This file is used as a base for all repositories in the Homebrew GitHub
# organisation so intentionally contains a superset of all required attributes.
version: 2

multi-ecosystem-groups:
  all:
    schedule:
      interval: weekly
      day: "monday"
      time: "08:00"
      timezone: "Etc/UTC"

updates:
  - package-ecosystem: bundler
    directories:
      - /
      - /Library/Homebrew
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: devcontainers
    directory: /
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: docker
    directory: /
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: github-actions
    directory: /
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: /
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: pip
    directories:
      - /
      - /Library/Homebrew/formula-analytics/
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7

  - package-ecosystem: terraform
    directory: /
    multi-ecosystem-group: "all"
    patterns: ["*"]
    allow:
      - dependency-type: all
    cooldown:
      default-days: 7
