name: Sync triage configurations

on:
  push:
    branches:
      - master
jobs:
  sync-triage-config:
    if: github.repository == 'Homebrew/.github'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - Homebrew/actions
          - Homebrew/brew
          - Homebrew/brew.sh
          - Homebrew/formula-patches
          - Homebrew/formulae.brew.sh
          - Homebrew/gsoc
          - Homebrew/homebrew-aliases
          - Homebrew/homebrew-autoupdate
          - Homebrew/homebrew-bundle
          - Homebrew/homebrew-cask
          - Homebrew/homebrew-cask-drivers
          - Homebrew/homebrew-cask-fonts
          - Homebrew/homebrew-cask-versions
          - Homebrew/homebrew-command-not-found
          - Homebrew/homebrew-core
          - Homebrew/homebrew-formula-analytics
          - Homebrew/homebrew-portable-ruby
          - Homebrew/homebrew-services
          - Homebrew/homebrew-test-bot
          - Homebrew/install
          - Homebrew/ruby-macho
          - Homebrew/rubydoc.brew.sh
    steps:
      - name: Clone main repository
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false

      - name: Clone secondary repository
        uses: actions/checkout@v2.3.4
        with:
          repository: ${{ matrix.repo }}
          path: vendor/${{ matrix.repo }}
          persist-credentials: false

      - name: Configure Git user
        uses: Homebrew/actions/git-user-config@master
        with:
          username: BrewTestBot

      - name: Set up GPG commit signing
        uses: Homebrew/actions/setup-commit-signing@master
        with:
          signing_key: ${{ secrets.BREWTESTBOT_GPG_SIGNING_SUBKEY }}

      - name: Detect changes
        id: detect_changes
        env:
          HOMEBREW_GPG_PASSPHRASE: ${{ secrets.BREWTESTBOT_GPG_SIGNING_SUBKEY_PASSPHRASE }}
        run: ./.github/actions/sync/triage-config.rb 'vendor/${{ matrix.repo }}' '${{ matrix.repo }}' 'sync-triage-config'

      - name: Create pull request
        if: ${{ steps.detect_changes.outputs.pull_request == 'true' }}
        uses: peter-evans/create-pull-request@01f7dd1d28f5131231ba3ede0f1c8cb413584a1d
        with:
          path: vendor/${{ matrix.repo }}
          token: ${{ secrets.HOMEBREW_DOTGITHUB_WORKFLOW_TOKEN }}
          branch: sync-triage-config
          title: Synchronize triage configuration
          body: >
            This pull request was created automatically by the
            [`sync-triage-config`](https://github.com/Homebrew/.github/blob/HEAD/.github/workflows/sync-triage-config.yml)
            workflow.
